<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row backgroud-custom">
                    <div class="col-md-5 col-sm-12">
                        <b>URL</b>
                        <input type="text" class="form-control" [(ngModel)]="rootURL"/>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <b>PORT</b>
                        <input type="text" class="form-control" [(ngModel)]="rootPort"/>
                    </div>
                    <div class="col-md-2 col-sm-12 mt-auto">
                        <button type="button" class="btn btn-info-custom btn-fill">CONNECT</button>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <b>HOUSE LIST</b>
                    </div>
                    <div class="col-md-5 col-sm-12"></div>
                    <div class="col-md-2 col-sm-12">
                        <button type="button" class="btn btn-success-custom btn-fill">CREATE</button>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Post code</th>
                                <th scope="col">Price</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of dataList.payload | slice: (page-1) * pageSize : page * pageSize">
                            <td>{{ data.id }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.post_code }}</td>
                            <td>{{ data.price }}</td>
                            <td style="width:20%;">
                                <button type="button" class="btn btn-warning-sm-custom btn-outline">VIEW DETAIL</button>
                                &nbsp;
                                <button type="button" class="btn btn-danger-sm-custom btn-outline">DELETE</button>
                            </td>
                        </tbody>
                    </table>
                    <div class="paging-custom">
                        <ngb-pagination [collectionSize]="dataSize" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
                <hr/>
                <div class="post-code-panel">
                    <select class="form-control select-option-custom">
                        <option value="" disabled selected>SELECT POST CODE</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <b class="avg-text">
                        Average: 
                    </b>
                    <b class="avg-text">
                        Median: 
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>
