.backgroud-custom {
    padding: 20px 0px 20px 0px;
    background-color: #F4F7FC;
}

.post-code-panel {
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F7FC;
}

.select-option-custom {
    width: 30%;
}

